* {
  box-sizing: border-box;
  font-size: 0.85rem;
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
}

.whole-card {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  flex-direction: column;
  height: 800px;
  width: 900px;
  background-color: #041c3a;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.top-nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.all-orders {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  margin-top: 15px;
}

.btn {
  border: none;
  border-radius: 10px;
  background-color: #2068d4;
  color: white;
  padding: 20px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.btn-pending {
  border: none;
  border-radius: 10px;
  background-color: red;
  color: white;
}

.btn-completed {
  border: none;
  border-radius: 10px;
  background-color: red;
  color: white;
}

.date-hour {
  display: flex;
  justify-content: space-around;
  border-radius: 7px;
  background-color: #f6ff00;
}

.singleOrder {
  display: grid;
  padding: 25px;
  height: 145px;
  background-color: azure;
  border-radius: 20px;
  background-color: whitesmoke;
}

.cancel-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-price {
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.order-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-radius: 5px;
  background-color: yellow;
  padding: 3px;
}

.btn-one {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  background-color: white;
  border: none;
  color: black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 4px;
}

.btn-one:hover {
  cursor: pointer;
  opacity: 0.5;
}
